@{
    ViewBag.Title = "Home Page";
}
<style>
    {
        padding: 0px;
        margin: 0px;
    }

    body {
        background: #ccc;
    }

    .head {
        width: 100%;
    }

        .head h1 {
            padding: 0px 40px;
            line-height: 100px;
            font-size: 50px;
            color: orange;
            background: white;
            font-family: sans-serif;
        }

        .head .nav {
            background: purple;
            padding: 10px 0px;
            text-align: center;
            position: absolute;
            width: 100%;
        }

    .nav li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 40px;
        text-align: center;
        border-left: 1px solid white;
        color: white;
        font-size: 18px;
    }
</style>
<div class="head">
    <div class="title"><h1>Web Zone</h1></div>

    <div class="nav" id="nav">
        <ul>
            <li>Home</li>
            <li>Blog</li>
            <li>Video</li>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </div>
</div>



<script>

    var nav = document.getElementById('nav');

    window.onscroll = function () {

        if (window.pageYOffset > 100) {

            nav.style.position = "fixed";
            nav.style.top = 0;

        } else {
            // nav.style.position = "absolute";
            nav.style.position = 'relative'; //fixed
            nav.style.top = 100;
        }
    }


</script>