@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href="https://unpkg.com/tailwindcss@1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Shopping Website</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-base">Whatever Shopping website is an online marketplace and logistics company which operates in markets of South Asia and Southeast Asia. It was founded in 2012 by the German venture capital company, Rocket Internet. Daraz Group operates e-commerce platforms and logistics service in Bangladesh, Myanmar, Nepal, Pakistan and Sri Lanka..</p>
            </div>
            <div class="flex flex-wrap -m-4">
               
                     <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="~/Content/img/download.jpg" alt="content">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">RELATIVE PRICE</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Women Cosmetics</h2>
                        <p class="leading-relaxed text-base">The Beauty Industry's Influence on Women in Society at some individual
differences can have an effect on the choices a woman makes regarding cosmetics. </p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="~/Content/img/puma%20.jpg" alt="content">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">RUN THE STREETS</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Puma</h2>
                        <p class="leading-relaxed text-base">That designs and manufactures athletic and casual footwear, apparel and accessories Forever Faster. How do you push yourself? By setting goals. For PUMA, it's to be the Fastest Sports Brand in the world. For someone ready.</p>
                    </div>
                 
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="~/Content/img/toyota.jpg" alt="content">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">GREATER SPEED</h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Toyota</h2>
                        <p class="leading-relaxed text-base">Auto technologies developed by Toyota are warmly appreciated in our society. Indus Motor Company (IMC) is the distributor of Toyota and Daihatsu vehicles ...</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-100 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="~/Content/img/realme.jpg" alt="content">
                        <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BE SMARTED </h3>
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Real me </h2>
                        <p class="leading-relaxed text-base">realme is an emerging mobile phone brand which is committed to offering mobile phones with powerful performance, stylish design and sincere services..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>